/* =========================================
   RESET
========================================= */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    width: 100%;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
}


body {
    width: 100%;
    min-height: 100vh;
}


button,
input,
textarea,
select {
    font: inherit;
}


button {
    border: none;
    outline: none;
    cursor: pointer;
}


img {
    display: block;
    max-width: 100%;
}


a {
    color: inherit;
    text-decoration: none;
}


ul,
ol {
    list-style: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* បិទ Highlight ពណ៌ខៀវពេលចុចលើ Mobile Screen */
    -webkit-tap-highlight-color: transparent;
}

body {
    width: 100%;
    min-height: 100vh;
    /* ការពារការជ្រើសរើស Select អក្សរដោយចៃដន្យពេលចុចលេងហ្គេម */
    -webkit-user-select: none;
    user-select: none;
}
